 /* WhatsApp Button Styles */
        .whatsapp-button {
            position: fixed;
            bottom: 70px;
            right: 5px;
            z-index: 1000;
            display: none; /* Hidden by default, shown in mobile view */
            background-color: #25D366; /* WhatsApp green */
            color: white;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 24px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }

        .whatsapp-button:hover {
            background-color: #128C7E;
        }

        /* Show WhatsApp button on mobile view */
        @media (max-width: 768px) {
            .whatsapp-button {
                display: block;
            }
        }